@page "/"
@using SCRM.API.Models.Entities
@using SCRM.UI.Services
@using SCRM.UI.Services
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject IDeviceService DeviceService

<h1>Device Management</h1>

<RadzenCard>
    <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Device List</RadzenText>
    <RadzenDataGrid Data="@devices" TItem="SrClient" AllowFiltering="true" AllowPaging="true" PageSize="10" AllowSorting="true" IsLoading="@isLoading">
        <Columns>
            <RadzenDataGridColumn TItem="SrClient" Property="uuid" Title="UUID" Width="200px" />
            <RadzenDataGridColumn TItem="SrClient" Title="Device Name">
                <Template Context="data">
                    @($"{data.device?.hsman} {data.device?.hstype}")
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="SrClient" Property="isOnline" Title="Online" />
            <RadzenDataGridColumn TItem="SrClient" Property="createdAt" Title="Created At" FormatString="{0:d}" />
        </Columns>
    </RadzenDataGrid>
</RadzenCard>

@code {
    IEnumerable<SrClient> devices;
    bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            devices = await DeviceService.GetDevicesAsync();
        }
        finally
        {
            isLoading = false;
        }
    }
}
